body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pole {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pole div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.wins {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}